{% extends 'base.html' %}
{% block title %} Silk Road | Home {% endblock title %}

{% block content %}

    {% for item in items%}

    <a class="card" href="{% url 'product_display' pk=item.id %}"  style="width: 18rem;">
        <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
        </div>
    </a>
    
    {% endfor %}

{% endblock content%}