{% extends 'base.html' %}
{% block title %} Cart {% endblock title %}
{% block content %}

    {% if is_wished == 1 %}
        <h1>{{ request.user.first_name }}'s Wishlist</h1>
    {% else %}
        <h1>Your Cart</h1>
            
    {% endif %}    

    {% for item in cart_items %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'product_display' pk=item.product.id %}" class="fs-1 card-title">{{ item.product.name }}</a>
            <p class="card-text">Quantity: {{ item.quantity }}, Sold By :- {{item.product.seller.company_name}}
                <br/>Cost: {% widthratio item.quantity 1 item.product.price  %}
                <a href="{% url 'remove_cart_item' pk=item.id %}" class="btn btn-danger">Remove</a>
            </p>
            <hr/>
            
        </div>
    </div>
    
    {% endfor %}
    {% if is_wished == 0  %}
        {% if cart_items %}
            <a class="btn btn-success" href="{% url 'buy_multiple_item' %}">BUY</a>
        {%else%}
            You currently have no Items in your Cart <a class="btn btn-success" href="{% url 'home' %}">Continue Shopping</a>
        {% endif %}
    {% elif is_wished == 1 and not cart_items %}

        You currently don't have anything wishlisted <a class="btn btn-success" href="{% url 'home' %}">Continue Shopping</a>
    {% endif %}
    
{% endblock content%}